*{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-left:60px;
    margin-right:60px;
}
nav{
    background-color: rgb(23, 22, 22);
}
.nav1{
    /* border:black solid 2px; */
    width:100%; padding-top: 12px; padding-bottom: 12px; display: flex; justify-content: space-between;  align-items: center; font-family: Playfair Display; color:goldenrod;
}
.fakenav{
    width: 645px;
}
.scentstyle{
    width:300px; 
}
.currencyandicon{
    display: flex; align-items: center;
}
.currency{
    width:200px;
    
}
.icons{
    width:100px; height:40px; border-radius: 100px; display: flex; justify-content: center; align-items: center; gap:10px; margin-right:175px; margin-left: 10px; 
}
.i1:hover{
    background-color: rgb(237, 237, 237); border-radius: 100px;
}
.i2:hover{
    background-color: rgb(237, 237, 237); border-radius: 100px;
}
.i3:hover{
    background-color: rgb(237, 237, 237); border-radius: 100px;
}
.nav2{
    /* border:black solid 2px;  */
    width:100%; padding-top: 12px; padding-bottom: 12px; display: flex;  align-items: center; margin-bottom: 20px; color:goldenrod;
}
.menu{
    width:100px; height:40px; border-radius: 100px; display: flex; justify-content: left; align-items: center; margin-left: 150px;
}
#menutext{
    margin-left: 20px;
}
.brand{
    width:400px; margin-left:350px;
}
.button{
    width:200px; height:40px; background-color: rgb(79, 76, 69); font-size: 15px; vertical-align: middle; border: 2px lavender; text-align: center; padding-top:10px;
}
.nav3{
    /* border:black solid 2px; */
    width:100%; padding-top: 12px; padding-bottom: 12px; background-color: rgb(255, 238, 127);
}
.discountcode{
    text-align: center; vertical-align: middle; 
}