*{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0); font-family: Playfair Display;
}
nav{
    background-color: rgb(19, 19, 19); position: sticky; top:0; z-index: 5;
}
.nav1{
    /* border:black solid 2px; */
    width:100%; padding-top: 12px; padding-bottom: 12px; display: flex; justify-content: space-between;  align-items: center; color:goldenrod;
}
.fakenav{
    width: 645px;
}
.scentstyle{
    width:300px; 
}
.currencyandicon{
    display: flex; align-items: center;
}
.currency{
    width:200px;
    
}
.icons{
    width:100px; height:40px; border-radius: 100px; display: flex; justify-content: center; align-items: center; gap:10px; margin-right:175px; margin-left: 10px; 
}
.i1:hover{
    background-color: rgb(75, 75, 74); border-radius: 100%;
}
.i2:hover{
    background-color: rgb(75, 75, 74); border-radius: 100%;
}
.i3:hover{
    background-color: rgb(75, 75, 74); border-radius: 100%;
}
.nav2{
    /* border:black solid 2px;  */
    width:100%; padding-top: 12px; padding-bottom: 12px; display: flex;  align-items: center; margin-bottom: 20px; color:goldenrod;
}
.menu{
    width:100px; height:40px; border-radius: 100px; display: flex; justify-content: left; align-items: center; margin-left: 150px;
}
#menutext{
    margin-left: 20px;
}
.brand{
    width:400px; margin-left:408px;
}
.button{
    width:200px; height:40px; background-color: rgb(79, 76, 69); font-size: 15px; vertical-align: middle; border: 2px lavender; text-align: center; padding-top:10px;
}
.nav3{
    /* border:black solid 2px; */
    width:100%; padding-top: 12px; padding-bottom: 12px; background-color: rgb(255, 213, 97);
}
.discountcode{
    text-align: center; vertical-align: middle; 
}
.mainspace{
    display: flex; position: relative;  
    margin-left:60px;
    margin-right:60px; z-index: 0;
}
.photo1{
    border-radius: 30px;
}
.backarrowicon{
    width:40px; height:40px;  display: flex; position: absolute; top:400px; left:-30px; background-color: rgb(46, 46, 45); border-radius: 100%;
}
.backarrowicon:hover{
    background-color: rgb(75, 75, 74); border-radius: 100%;
}
.forwardarrowicon{
    width:40px; height:40px;  display: flex; position: absolute; top:400px; right:-30px; background-color: rgb(46, 46, 45); border-radius: 100%;
}
.forwardarrowicon:hover{
        background-color: rgb(75, 75, 74); border-radius: 100%;
}
.checkout{
    color:rgb(248, 242, 176); margin-left: 60px; font-size: 28px;
}
.bigcontainer{
    margin-left:60px;
    margin-right:60px;
}
.images{
    height:320px; gap:65px; display: flex;
}
.valentino{
    width:300px; height:300px; border-radius: 20px;
}
.versace{
    width:300px; height:300px; border-radius: 20px;
}
.dior{
    width:300px; height:300px; border-radius: 20px;
}
.chanel{
    width:300px; height:300px; border-radius: 20px;
}
.secondbackwardarrowicon{
    width:40px; height:40px;  display: flex; position: absolute; top:1200px; left:26px; background-color: rgb(46, 46, 45); border-radius: 100%;
}
.secondbackwardarrowicon:hover{
    background-color: rgb(75, 75, 74); border-radius: 100%;
}
.secondforwardarrowicon{
    width:40px; height:40px;  display: flex; position: absolute; top:1200px; right:26px; background-color: rgb(46, 46, 45); border-radius: 100%;
}
.secondforwardarrowicon:hover{
    background-color: rgb(75, 75, 74); border-radius: 100%;
}
.perfumenames{
    color:rgb(255, 240, 207); display: flex; gap:124px;
}
.scentnotes{
    color:rgb(255, 219, 141); display: flex; gap:274px;
}
.prices{
    color:rgb(255, 219, 128); display: flex; gap:380px;
}
.images2{
    height:320px; gap:65px; display: flex;
}
.billie{
    width:300px; height:300px; border-radius: 20px;
}
.beyonce{
    width:300px; height:300px; border-radius: 20px;
}
.rihanna{
    width:300px; height:300px; border-radius: 20px;
}
.khloe{
    width:300px; height:300px; border-radius: 20px;
}
.thirdbackwardarrowicon{
    width:40px; height:40px;  display: flex; position: absolute; top:1833px; left:26px; background-color: rgb(46, 46, 45); border-radius: 100%;
}
.thirdbackwardarrowicon:hover{
    background-color: rgb(75, 75, 74); border-radius: 100%;
}
.thirdforwardarrowicon{
    width:40px; height:40px;  display: flex; position: absolute; top:1833px; right:26px; background-color: rgb(46, 46, 45); border-radius: 100%;
}
.thirdforwardarrowicon:hover{
    background-color: rgb(75, 75, 74); border-radius: 100%;
}
.hot{
    color:rgb(248, 242, 176); font-size: 28px;
}
.photo2{
    width: 330px; height:390px;
}
.photo3{
    width:360px; height:390px;
}
#rosylink{
    color:hotpink; font-weight: bolder; font-size: larger; 
}